body {
    margin: 0;
    padding: 0;
    height: 500vh;
    /* height: 100%; */
    background: linear-gradient(to bottom, #e6f0f1 10%, #cee8ee 30%, #FFFFFF 60%);
}
header {
    /* color: #fff; */
    /* width: 100%; */
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}
header.scrolled {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px;
}
main {
    padding: 2em;
}
h1 {
    color:#86daec;
    font-family: 'Montserrat', sans-serif;
    /* margin: 5px; */
}
h2 {
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
}
h3 {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    text-align: center;
    font-size: 2.5em;
    margin: 25px 30px 30px 30px;
}
h4 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
button {
    font-family: 'Nunito', sans-serif;
    height: 32px;
    width: 89.40px;
    color: #fff;
    background-color: #67d1e9;
    position: absolute;
    right: 5px;
    margin: 6px 0px;
    align-self: center;
    cursor: pointer;
}
button:hover {
    background-color: #7cd9eeea;
}
.botaoEntrar {
    height: 40px;
    size: 40px;
    color: #fff;
    background-color: #67d1e9;
    padding: 8px 30px 2px 30px;
    border-radius: 12px;
}
.botaoCadastrar {
    border: none;
    border-radius: 12px;
}
.cabecalho {
    height: 80px;
    position: sticky;
    top: 10px;
}
.flexCabecalho {
    display: flex;
    border: 1px red solid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2px 20px;
    margin: 15px;
}
.formUnderline {
    text-decoration: underline;
}
.formColorFluagenda {
    color: #67d1e9;
}
.flexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    border: 1px red solid;
    justify-content: space-between;
}
.formDivgeral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    height: 82px;
    width: 672px;
    /* border: 1px green solid; */
}
.formDivinputbtn {
    display: flex;
    position: relative;
}
label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.95em;
    height: 18px;
    width: 220px;
    color: gray;
}
input {
    height: 2.5rem;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    /* color: #475569; */
    color: #3d3d3d;
    border-radius: 15px;
    /* border: 1px rgba(206, 206, 206, 0.801) solid; */
    border: 1px rgba(169, 169, 169, 0.815) solid;
    padding: 0em 0.5em;
    background-color: rgba(206, 206, 206, 0.349);
}
input:focus {
    /* outline-color: #67d1e9cc; */
    outline-color:#a9a9a9d0;
    outline-offset: 2px;
    outline-style: dashed;
    outline-width: 2px;
    transition-duration: 25ms;
    transition-property: all;
    /* background-color: #fff; */
}
::placeholder {
    color: rgba(169, 169, 169, 0.815);
}
.formSolucoes {
    margin: 30px 250px;
}