body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #e6f0f1 10%, #cee8ee 30%, #FFFFFF 60%);
}
header {
    /* background-color: #333; */
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 2em;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Nunito', sans-serif;
}
h3 {
    font-family: 'Lato', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}